.month-header {
    display: flex;
    border: 1px solid black;
    height: 3%;
    flex-shrink: 0;
}

h4 {
    margin: 0px;
}

.month-head {
    width: 150px;
    border-right: 1px solid black;
    text-align: center;
    box-sizing: border-box;
}

.task-head {
    width: 200px;
    border-right: 1px solid black;
}

.duration-head {
    border-right: 1px solid black;
    width: 100px;
    text-align: center;
}