.month-header {
    display: flex;
    border: 1px solid black;
    margin-top: 15px;
    margin-right: 10px;
    height: 3%;
}

h4 {
    margin: 0px;
}

.month-header>div {
    width: 60px;
    border-right: 1px solid black;
}