:root {
  --main-fonts: Cochin, 'Times New Roman';
}

#main {
  display: flex;
  justify-content: space-between;
}

#change-mode {
  font: inherit;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 20%;
  height: 5%;
}

#change-mode:hover {
  border-color: #646cff;
}

button {
  font: inherit;
}