:root {
  --main-fonts: Cochin, 'Times New Roman';
}

#main {
  display: flex;
  justify-content: space-between;
}

#chart-area {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  overflow: scroll;
}

#task-area {
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
}

#change-mode {
  font: inherit;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 20%;
  height: 5%;
}

#change-mode:hover {
  border-color: #646cff;
}

button {
  font: inherit;
}