:root {
  --main-fonts: Cochin, 'Times New Roman';
}

#main {
  display: flex;
  gap: 15px;
  width: 100%;
}

#chart-area {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  overflow: scroll;
  width: 1vw;
}

#chart-viewport {
  overflow: scroll;
  margin: 15px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: left;
}

#task-area {
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
}

#change-mode {
  font: inherit;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 20%;
  height: 5%;
}

#change-mode:hover {
  border-color: #646cff;
}

button {
  font: inherit;
}