:root {
  --main-fonts: Cochin, 'Times New Roman';
  font-family: var(--main-fonts);
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 25fr 1fr;
}

/*Header Styling*/
#header {
  margin: 0px;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: 2px 2px 2px 2px;
}

/*Footer Styling*/
#footer {
  margin: 0px;
  text-align: center;
}